.carousel-inner {
  width: 88% !important;
  padding-left: 170px;
}
.carousel-control-prev {
  left: 100px !important;
}

.carousel-control-next {
  right: 150px !important;
}
.carousel h3, .carousel p{
  color: rgb(146, 130, 100);
}

@media only screen and (max-width: 768px) {
  .carousel-inner {
    width: 100% !important;
    padding-left: 1px;
    padding-right: 1px;
  }

  .carousel-control-prev {
    left: 50px !important;
  }

  .carousel-control-next {
    right: 50px !important;
  }
}
