.contact-wrapper {
  padding-top: 60px;
  padding-bottom: 5px;
  margin: auto;
  display: flex;
  font-size: 28pt;

  border-style: groove;
  border-radius: 35px;
  height: 360px;
  width: 390px;
  color: rgb(75, 70, 62);
}
.icon-text i {
  font-size: xxx-large;
  padding-left: 150px;
}
.titleCtct {
  margin-left: 50px;
}
.contact-description {
  font-size: 22pt;
  display: flex;
  padding-left: 22px;
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  .contact-wrapper {
    padding-top: 8px;
    padding-bottom: 15px;
    display: flex;
    font-size: 16pt;
    border-style: groove;
    border-width: 5px 2px;
    border-radius: 25px;
    height: 150px;
    width: 225px;
  }
  .icon-text i {
    font-size: xx-large;
    padding-right: 5px;
  }
  .contact-description {
    font-size: 18px;
    width: 180px;
    margin-left: 40px;
   }
}
@media only screen and (max-width: 376px) {
  .contact-wrapper {
    padding-top: 30px;
    padding-bottom: 5px;
    margin: auto;
    display: flex;
    font-size: 23pt;  
    border-style: groove;
    border-radius: 35px;
    height: 300px;
    width: 490px;
    color: rgb(80, 74, 64);
  }
  .icon-text i {
    font-size: xxx-large;
    padding-left: 100px;
    color: rgb(146, 130, 100);
  }
  .titleCtct {
    margin-left: 25px;
  }
  .contact-description {
    color: rgb(88, 78, 60);
    font-size: 18pt;
    display: flex;
    padding-left: 4px;
    padding-right: 15px;
  }
}
