.contact-data {
  display: flex;
  padding-bottom: 1em;
  flex-wrap: wrap;
  margin-left: 500px;
  margin-right: 500px;
}
.callus {
  color: rgb(146, 130, 100);
  display: flex;
  justify-content: center;
  font-size: 26pt;
  padding-bottom: 3em;
}

.map {
  display: flex;
  margin-left: 55px;
  width: 90%;
  height: 600px;
  border: 0px;
  padding-bottom: 70px;
}
.visitUs {
  display: flex;
  justify-content: center;
  color: rgb(146, 130, 100);
}
.adress {
  font-size: 18pt;
  padding-top: 95px;
  padding-bottom: 25px;
  padding-left: 44px;
  padding-right: 44px;
}
@media only screen and (max-width: 768px) {
  .contact-data {
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 150px;
  }

  .callus {
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding-bottom: 22px;
    margin-top: 32px;
  }

  .map {
    margin-left: 15px;
    display: flex;
    width: 91%;
    height: 559px;
    border: 0px;
    padding-bottom: 70px;
  }
  .visitUs {
    display: flex;
    justify-content: center;
    color: rgb(104, 96, 84);
  }
  .adress {
    font-size: 19px;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 22px;
    text-align: right;
  }
}
