.text-wrapper {
  background-image: url("../images/backgr.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 705px;
}

.text {
  padding-top: 110px;
  color: rgb(104, 96, 84);
  display: flex;
  justify-content: center;
  text-align: center;
}
.text h1 {
  font-size: 35px;
  font-weight: bold;
}
.texP h2 {
  color: rgb(104, 96, 84);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  font-size: 32pt;
  
}
.texP h3{
  margin-top: 40px;
}
.goToContact {
  font-weight: bold;
  font-size: 32px;
  font-style: italic;
  color: rgb(187, 161, 121);
  
}
.goToContact:hover{
  color: rgb(141, 100, 38);
}
  
@media only screen and (max-width: 478px) {
  .text-wrapper {
    background-image: url("../images/backgr.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 655px;
  }
  
  .text {
    padding-top: 40px;
    color: rgb(104, 96, 84);
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .text h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .texP h2 {
    color: rgb(104, 96, 84);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    font-size: 18pt;
    
  }
  .texP h3{
    margin-top: 22px;

     
  }
  .goToContact {
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    color: rgb(187, 161, 121);
    
  }

}
 

  @media only screen and (max-width: 325px) {
    .text-wrapper {
      background-image: url("../images/backgr.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 655px;
    }
    
    .text {
      padding-top: 70px;
      color: rgb(104, 96, 84);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .text h1 {
      font-size: 20px;
      font-weight: bold;
    }
  
    .texP h2 {
      color: rgb(104, 96, 84);
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 25px;
      font-size: 20px;
      
    }
    .texP h3{
      margin-top: 12px;
       
    }
    .goToContact {
      font-weight: bold;
      font-size: 12px;
      font-style: italic;
      color: rgb(187, 161, 121);
      
    }
  
  }


  @media only screen and (max-width: 768px) {
    .text-wrapper {
      background-image: url("../images/backgr.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 655px;
    }
    
    .text {
      padding-top: 40px;
      color: rgb(104, 96, 84);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .text h1 {
      font-size: 30px;
      font-weight: bold;
    }
  
    .texP h2 {
      color: rgb(104, 96, 84);
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 20px;
      font-size: 26px;
      
    }
    .texP h3{
      margin-top: 10px;
      margin-bottom: 85px;
       
    }
    .goToContact {
      font-weight: bold;
      font-size: 20px;
      font-style: italic;
      color: rgb(187, 161, 121);
      margin-bottom: 20px;
    }
  
  }